* {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: hsl(225, 100%, 94%);
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;

  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  row-gap: 2em;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  max-width: 25em;
  max-height: 40em;
  box-shadow: 0px 15px 15px #dedbf8;
  margin: 1em;
}

#hero {
  border-radius: 10px 10px 0px 0px;
}

#plan-img {
  object-fit: contain;
}
.order_summary {
  padding: 1.5em;
}

p {
  font-size: 16px;
}

.change {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #463ace;
  text-decoration: underline;
}

.change:hover {
  text-decoration: none;
  color: #796fd2;
}
.plan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f9fe;
  border-radius: 10px;
}

.buttons {
  padding: 1.5em;
}

.pay,
.cancel {
  width: 100%;
  padding: 1em;
  margin-bottom: 1.5em;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.pay {
  background-color: #382ae1;
  color: white;
  box-shadow: 0px 15px 10px #dedbf8;
}

.pay:hover {
  background-color: #766cf1;
}

.cancel {
  background-color: transparent;
  color: grey;
}

.cancel:hover {
  color: black;
}

.group-1 {
  display: flex;
  column-gap: 10px;
}

p:nth-child(1) {
  font-weight: bold;
  margin-bottom: 5px;
}

p:nth-child(2) {
  margin-top: 5px;
  color: gray;
}
.order_summary > h2 + p {
  line-height: 1.7rem;
}

@media screen and (min-width: 300px) and (max-width: 1399px) {
  .container {
    max-width: 20em;
    max-height: 35em;
  }
  .order_summary > h2 + p {
    line-height: 1.5em;
  }
}
